@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin:0;
    padding: 0;

}

body{
    font-family: "Press Start 2P" , cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./IconesBatalhaNaval/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-pontuacao{
    display: grid;
    max-height: 400px;
    max-width: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    background-color: gray;
    border-radius: 2px ;
    overflow: hidden;
    position: absolute;
    visibility:hidden;   
}
.carta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    border: 2px solid black;
    height: 50px;
    padding: 0 5px;
    font-size: 5pt;
    color: #fff;
    
}
.carta img {
    width: 50px;
    height: 80%;
}

.pontos{
    padding: 0 5px;
    text-align: center;
    color: #fff;
}

.icon-dica{
    position: relative;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-top: 45px;
    width: 50px;
    height: 45px;
}
.icon-dica .icon{
    width: 90%;
    cursor: pointer;
}

.container-tabela{
    width: 50vw;
    background-color: rgba(54, 54, 54, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 2%;
    border-radius: 30px;
}

.gradient {
    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(0deg, rgba(20,0,89,0.8813900560224089) 1%, rgba(149,57,189,0.8589810924369747) 47%, rgba(94,180,251,0.7973564425770308) 97%);;
    
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;

    font-size: 2.5vw;
    
  }

.info{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    color: #dadada;
    font-size: 1.5vw;
}
.tabela{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 100%;
    max-width: 40vw;
    height: 100%;
}

.card{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 81, 81, 0.753);
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border-radius: 10%;
}
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.frente{
 transform: rotateY( 180deg);
 backface-visibility: hidden;

 
}
.verso{
 backface-visibility: hidden;
 cursor: pointer;
 
}
.revelar-carta{
    transform: rotateY(180deg);
    
}
.pontos{
    font-size: 8pt;
}

    @media screen and (max-width: 800px) {
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        *{
            margin:0;
            padding: 0;
        
        }
        
        body{
            font-family: "Press Start 2P" , cursive;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url(./IconesBatalhaNaval/fundo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
        
        .pontos{
            padding: 0 5px;
            text-align: center;
            color: #fff;
            font-size: 5pt;
        }
        .info{
            font-size: 9pt;
        }
        .gradient{
            font-size: 15pt;
        }
        
        .container-tabela{
            width: 80vw;
            background-color: rgba(54, 54, 54, 0.315);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 20px 10px;
            border-radius: 30px;
            margin: 0 5vw;
        }
          
        .tabela{
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(10, 1fr);
            gap: 2px;
            width: 100%;
            max-width: 450px;
            height: 100%;
        }

     
        
    }
